body#body {
  --color_01: var(--mantine-color-teal-6);
  --color_02: rgba(255, 255, 255, 1);
  --color_03: rgba(48, 48, 48, 0.7);
  --color_04: rgb(120, 120, 120);

  --gradient_01: linear-gradient(100.87deg, #11b785 -0.74%, #49a1f2 55.84%, #3a4eff 100.3%);
  --gradient_02: linear-gradient(
    123.22deg,
    rgba(17, 183, 133, 0.3) 4.28%,
    rgba(73, 161, 242, 0.3) 48.03%,
    rgba(58, 78, 255, 0.3) 95.59%
  );
  --gradient_03: linear-gradient(90deg, var(--mantine-color-teal-8) 0%, var(--mantine-color-gray-8) 100%);
  --gradient_04: linear-gradient(90deg, var(--mantine-color-violet-8) 0%, var(--mantine-color-gray-8) 100%);

  --mantine-primary-color-filled: var(--mantine-color-teal-6);

  background-color: var(--mantine-color-dark-9);
  overflow-y: scroll;

  font-family: 'Roboto', sans-serif;

  img {
    color: transparent;
  }
}

::selection {
  background: var(--color_01);
  color: var(--color_02);
}
::-moz-selection {
  background: var(--color_01);
  color: var(--color_02);
}
::-webkit-selection {
  background: var(--color_01);
  color: var(--color_02);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--color_03);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--color_04);
}

@-moz-document url-prefix() {
  * {
    scrollbar-color: var(--color_04) var(--color_03);
    scrollbar-width: thin;
  }
}
